{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.user'|trans }}{% endblock %}

{% block body %}
    <div class="container">          
        <div class="card border-secondary mt-5">
            <div class="card-header">
                <h5>{{ 'menu.user'|trans }}</h5>        
            </div>
            <div class="card-body">    
                This friendly messages is coming    
            </div>
        </div>
    </div>
</div>
{% endblock %}
