<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal">
    <i class="icon-trash"></i>
    {{ 'action.delete_user'|trans }}
</button>
<a href="{{ path('app_admin_user_edit', {'id': id}) }}" class="btn btn-secondary" role="button">
    <i class="icon-edit"></i>
    {{ 'action.edit'|trans }}
</a>
{{ include('admin/user/_delete_confirmation.html.twig') }}    
