{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">        
        {% include 'flashMessage/flashMessage.html.twig' %}        
        <div class="card border-secondary mt-5">
            <div class="card-header">
                <h5>{{ 'title.edit_user'|trans }}</h5>                
            </div>
            <div class="card-body">
                {% include 'admin/user/_form.html.twig' with {'button_label': 'Update', 'button_color': 'btn-primary'}  %}
            </div>
            <div class="card-footer">
                <a class="btn btn-warning float-end" href="{{ path('app_admin_users') }}">{{ 'menu.users'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}