{% if gb.attachments.count %}
    <div class="mt-3">{{ 'label.files'|trans }}
        <hr class="mt-1 mb2">
        <ul class="list-unstyled">
            {% for file in gb.attachments %}
                <li>
                    <i class="fa fa-file-o"></i>
                    <a href="{{ path('app_download_file', {id: file.id, uuid: gb.uuid}) }}" class="text-info">{{ file.name }}</a>
                    <span class="text-muted">
                        <small>({{ file.size|format_bytes }})</small>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
