{% extends 'base.html.twig' %}
  
{% block title %}New Entry{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Create Entry</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_g_b_index') }}"> 
                    View All Entries
                </a>
            </div>
            <div class="card-body">
                 {{ include('gb/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}