{% extends 'base.html.twig' %}
  
{% block title %}Entries{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Entry</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_g_b_index') }}"> 
                    View All Entries
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Name:</b>
                <p>{{ gb.Title }}</p>                
                <b class="text-muted">Date Created:</b>
                <p>{{ gb.createdAt ? gb.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                <b class="text-muted">Date Updated:</b>
                <p>{{ gb.updatedAt ? gb.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </div>
    </div>
{% endblock %}