<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal">
    <i class="icon-trash"></i>
    {{ 'action.delete_entry'|trans }}
</button>
<a href="{{ path('app_admin_entry_edit', {'uuid': uuid}) }}" class="btn btn-warning" role="button">
    <i class="icon-edit"></i>
    {{ 'action.edit'|trans }}
</a>
{{ include('admin/gb/_delete_confirmation.html.twig') }}    
