<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal">
    <i class="icon-trash"></i>
    {{ 'action.delete_entry'|trans }}
</button>
{{ include('admin/_delete_entry_confirmation.html.twig') }}    
