{% extends 'base.html.twig' %}

{% block title %}{{ 'http_error.name'|trans({ 'status_code': 403 }) }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card border-secondary mt-4">
            <div class="card-header">
                <h5 class="text-danger">{{ 'http_error.name'|trans({ 'status_code': 403 }) }}</h5>
            </div>
            <div class="card-body">
                <p class="lead">
                    {{ 'http_error_403.description'|trans }}
                </p>
                <p>
                    {{ 'http_error_403.suggestion'|trans({ 'url': path('homepage') })|raw }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
